
body {
    background-color: #2F4858;
}

.linkedin {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-top: 15%;
}
a {
    text-decoration: none;
    color: #E0EEF5;
}